<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{macros/common :: head(title='Simpnotes: Login')}"></head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center text-primary">Simpnotes</h1>
            <h4 class="text-center text-secondary mt-4">Authorization</h4>
            <div th:replace="~{macros/credentials :: authorization('/login', 'Sign in')}"></div>
            <div class="text-center mt-3">
                <a href="/registration" class="btn btn-link">Sign up</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ppq-3VC0mbFBK7tAn4AwPjT4LpPpoMk4xFeEslggf0yY0uAms16VOZYIIFwB6z2K"
        crossorigin="anonymous"></script>
</body>
</html>
