<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{macros/common :: head(title='Simpnotes: Notes')}"></head>

<body>
<div th:replace="~{macros/common :: popperAndJS}"></div>
<div>
    <form action="/logout" method="post" class="d-inline">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button type="submit" class="btn btn-outline-danger btn-sm">Exit</button>
    </form>
</div>
<div th:if="${user}">
    <form action="/notes" method="post" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Enter text"/>
        <input type="text" name="tag" placeholder="Enter tag"/>
        <input type="file" name="file">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button type="submit">Add</button>
    </form>
</div>

<div>Messages List:</div>
<br>

<form action="/notes" method="get">
    <input type="text" name="filter" th:value="${filter}">
    <button type="submit">Find Message</button>
</form>
<br>

<div th:each="note : ${notes}">
    <span th:text="${note.id} + ')' + ${note.text} + ' - ' + ${note.tag} + ' -> ' + ${note.author.username}"></span><br>
    <div th:if="${!note.images.isEmpty()}">
        <div th:each="image : ${note.images}" class="m-2">
            <img th:src="@{/images/{id}(id=${image.id})}" class="img-rounded" style="height: 300px; width: auto"
                 alt="Product Image"/>
        </div>
    </div>
</div>


</body>
</html>