<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{macros/common :: head(title='Simpnotes: Users')}"></head>

<body>
<div th:replace="~{macros/common :: popperAndJS}"></div>

<div class="table-responsive">
    <table class="table table-striped table-bordered border-primary table-sm">
        <caption class="caption-top">List of users</caption>
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Activity</th>
            <th>Roles</th>
            <th>Editing</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.active}"></td>
            <td>
                <span th:each="role, iterStat : ${user.roles}" th:text="${role.name} + (${!iterStat.last ? ', ' : ''})"></span>
            </td>
            <td><a th:href="@{/admin/user/edit/{id}(id=${user.id})}" class="btn btn-warning btn-sm">Edit</a></td>
        </tr>
        </tbody>
        <tr th:if="${users.isEmpty()}">
            <td colspan="7" class="text-center">
                <h3>No users</h3>
            </td>
        </tr>
    </table>
</div>
</body>
</html>