<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="username">
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Enter your username"
               required>
    </div>
</div>

<div th:fragment="password">
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password"
               required>
    </div>
</div>

<div th:fragment="authorization(action, command)">
    <form th:action="${action}" method="post" class="mt-4 p-4 border rounded bg-light shadow-sm">
        <div th:include="macros/credentials :: username"></div>
        <div th:include="macros/credentials :: password"></div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button type="submit" class="btn btn-primary w-100" th:text="${command}">Default Command</button>
    </form>
</div>